extends layout

block content
  h1= title
  - let car = [{car_type:"Sports", costume_name:"AUDI", model: "Q5"},{car_type:"Sports", car_name:"FERARI", model: "F4"},{car_type:"Sports", car_name:"I20", model: "asta"}]
  div(class="container-fluid") 
   div(class="row")
    each cars,index in car
        div(class="col-sm-2" onclick=`buy(${index})`) car_type: #{cars.car_type} , car_name: #{cars.car_name} , model: #{cars.model} 

  script. 
   let itemNo=0
      function buy(itemNo)
      {
          alert(`You purchased Item ${itemNo+1}`)
      }
